<h1>Users</h1>

<% @users.each do |user| %>
    <%= user %> <br>
<% end %>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First name.</th>
            <th>Last name.</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user['id'] %></td>
                <td><%= user['email'] %></td>
                <td><%= user['first_name'] %></td>
                <td><%= user['last_name'] %></td>
                <td><%= image_tag "#{user['avatar']}" %></td>
            </tr>
        <% end %>
    </tbody>
</table>